   
#allPage{
    height:100%;
    width: 100%;
}
body{
    min-width: 320px;
}
                                /*主页*/
/*主体*/
#s_main{
    background: #343DC0;
    height: 100%;
    overflow: hidden;
}
#s_main>.s_rule{
    height: 45%;
    overflow: hidden;
    position: relative;
}
#s_main h3{
    font-size:1rem;
}
#s_main .startBanner{
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    line-height: 20px;
    z-index: 10;
    padding:35px 55px 45px;
    font-size: 0.8rem;
    color:white;
}
.s_rule img{
    width: 100%;
    height: 100%;
    padding:20px;
}


/*start buttom*/
#s_main>.s_start{
    position:relative;
    height: 55%;
    overflow: hidden;
}
/*三个圈*/
#s_main>.s_start>div{
    position:absolute;
    left:50%;
    top:50%;
      -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; 
    background-clip:padding-box;

}

#s_main>.s_start>div:nth-of-type(1){
     -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    border-radius: 120px; 
}
#s_main>.s_start>div:nth-of-type(2){
     -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    -ms-border-radius: 95px;
    -o-border-radius: 95px;
    border-radius: 95px; 
    background-clip: padding-box;
}
#s_main>.s_start>div:nth-of-type(3){
     -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
    border-radius: 75px; 
    background-clip:padding-box;
}
/*小点*/
#s_main>.s_start>div>div{
    width: 10px;
    height: 10px;
    background: rgb(2,254,231);
    position: absolute;
    top:50%;
    left:-5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 50%; 
    
}
/*最外圈*/
.s_start>.startBox1{
    width: 240px;
    height: 240px;
    margin-left:-120px;
    margin-top:-120px;
    border: 3px solid rgb(0,172,234);
}
/*中间圈*/
.s_start>.startBox2{
    width: 190px;
    height: 190px;
    margin-left:-95px;
    margin-top:-95px;
    z-index: 10;
    border: 1px solid rgb(0,172,234);
}
#s_main .s_start>.startBox3{
    width: 150px;
    height: 150px;
    background: rgb(0,172,234);
    margin-left:-75px;
    margin-top:-75px;
    z-index: 11;
    text-align: center;
    border: 8px solid rgb(2,136,209);
}
.s_start>.startBox3>a{
    display: inline-block;
    vertical-align: middle;
    color:white;
    font:26px "楷体";
    margin:8px;
    text-decoration: none;
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; 
}

/*动画*/
.loaderFast {
   /* 名字 时间  速度  循环方式 */
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 3s linear infinite;
    -ms-animation: loader 3s linear infinite;
    -o-animation: loader 3s linear infinite;
    animation: loader 3s linear infinite;
}
.loaderSlow {
  /*animation: loader 5s linear infinite;*/
    -webkit-animation: loader 5s linear infinite;
    -moz-animation: loader 5s linear infinite;
    -ms-animation: loader 5s linear infinite;
    -o-animation: loader 5s linear infinite;
    animation: loader 5s linear infinite;  
}
@keyframes loader {
  0% {
    transform: rotateZ(0deg); 
  }
  100% {
    transform: rotateZ(-360deg); 
  }
}


@-moz-keyframes loader {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}

@-o-keyframes loader {
  0% {
    -o-transform: rotateZ(0deg);
  }
  100% {
    -o-transform: rotateZ(-360deg);
  }
}