#result{
    height: 100%;
    background:linear-gradient(rgb(87,38,190) 25%,rgb(16,82,192) 75%);
    background:-webkit-linear-gradient(rgb(87,38,190) 25%,rgb(16,82,192) 75%);
}
#result .resultImg{
    position:relative;
    z-index: 3;
    color:white;
}
 #result .resultImgaLpha{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(135, 137, 127,.6);
 }

#result .resultImgaWord{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    font:bolder 22px 'SimSun';
    z-index: 200;
}
#result .resultImgaWord{
    /*padding-top:20px;*/
}
#result .resultImgaWord p{
    padding:10px 0;
}
#result .resultImgaWord>div{
    vertical-align: middle;
    display: inline-block;
}
/*上面的是图层文件*/


.res_invite {
    height: 85%;
    overflow: hidden;
}

.res_invite>.resultTop{
    height: 100px;
    text-align: center;
}
.resultTop>div{
    position:relative;
}
.resultTop>div>p{
    position:absolute;
    bottom:10px;
    left:50%;
    margin-left:-40px;
    z-index: 30;
    color:white;
    font-size:20px;
}
.res_invite>.resultTop img{
    position:relative;
    bottom:-18px;
}
.res_invite>.resultImg{
    width: 88%;
    height: 74%;
    padding:0 20px;
    border: 4px solid #0FD0E2;
    margin: 0 auto;
    background: rgb(51,93,195);
    border-radius:4px;
}

/*button*/
.res_btn{
    text-align: center;
    height: 15%;
}
.res_btn button{
    width: 95px;
    height: 38px;
    border-radius:4px;
    background:#0FD0E2;
    color:white;
    font-weight: bold;
}